<!-- module_app/templates/module_app/includes/footer.html -->
<footer class="footer mt-auto">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 text-start">
                <span class="text-muted">&copy; {{ current_year }} Система управления табельным учетом специалиста</span>
            </div>
            <div class="col-md-6 text-end">
                <span class="text-muted">Версия 1.0.0</span>
            </div>
        </div>
    </div>
</footer>